
/* home.css */
.home-background {
  background-image: url("../images/blue.png");
  background-size: 100%;
  min-height: 100vh;
  position: relative;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%; 
  z-index: 1;
  border-top: 20px solid white; 
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent;
}

.overlay-image::before {
  content: "";
}

.overlay-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.65;
}

  