.blue-image {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%; /* Adjust the height to control the bottom half */
	background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 10) 20%,
			rgba(107, 140, 164, 0.8) 100%
		),
		url("../images/blue.png");
	background-size: cover;
	z-index: -1; /* Set a lower z-index to keep it below the components */
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
	font-weight: bold;
}
