.searchbar {
	display: flex;
	align-items: center;
	height: 39px;
	width: fit-content;
	padding: 4px;
}

.options {
	background-color: white;
	color: black;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
	position: absolute;
	z-index: 1;
}

.optionItem {
	display: flex;
	justify-content: space-between;
	padding: 4px;
	gap: 20px;
}

.optionCounter {
	display: flex;
	gap: 2px;
}

.optionCounterButton {
	width: 20px;
	height: 20px;
	border: 1px solid #216ba5;
	color: #216ba5;
	cursor: pointer;
	background-color: white;
	text-align: center;
}
